doctype html
html(lang="en")
  head
    title Super Message Board
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
  body
    .containter
      .col-sm-12.top
        h2.title Super Message Board
        form.form-horizontal.pull-right.login
          input(id="user", type="text", placeholder="Login", required)
          input(id="pass", type="password", placeholder="Password", required)
          button.btn.btn-md.btn-default(type="submit") Login
        hr.colorgraph
      .board

    include ./modal

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/main.js")
